/* .lc = local css */
#startpage-lc {
    height: 800px;
    width: 100vh;
}

#middlepage-lc {
    background-color: #F6F2E5;
}

#aboutme-lc {
    background-color: white;
    padding-top: 30px;
}

#endpage-lc {
    background-color: #F6F2E5;
    margin: 0;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}